<footer>
	<br />
	<hr>
<!--	<div class='row'>

		<div class='span4'>
			<div class='well-footer'>
				<h3>Links</h3>
				<ul>
					<li> <a href="http://#">Hacker-Engine</a></li>
					<li><a href="http://#">FetchApp</a></li>
					<li> <a href="http://#">Twitter bootstrap</a></li>
					<li> <a href="http://#">Stripe</a></li>
					<li> <a href="http://#">Ruby on Rails</a></li>

				</ul>
			</div>
		</div>

		<div class='span4'>
			<div class='well-footer'>

				<h3>Some footer info</h3>
				<ul>
					<li>Once you submit payment, you'll receive access to a my house with the full source code.</li>
					<li>You are free to use the code for as many projects as you choose.</li>
					<li>You'll get immediate access to bug fixes and improvements as the project grows.</li>
				</ul>
			</div>
		</div>

		<div class='span4'>
			<div class='well-footer'>

				<h3>Some footer info</h3>
				<ul>
					<li>Once you submit payment, you'll receive access to a my house with the full source code.</li>
					<li>You are free to use the code for as many projects as you choose.</li>
					<li>You'll get immediate access to bug fixes and improvements as the project grows.</li>
				</ul>
			</div>
		</div>

	</div> -->

	<div class='row'>
		<div class='span12'><br />
			<p class='pull-right'>&copy; Digital Download Engine 2012</p>
			</div>
		</div>


	</div>  
</footer>
