<h1>Your payment was successful.</h1>

<p>Thanks so much for purchasing our product. You should receive an email with download instructions momentarily.</p>

<p>If you don't receive the email within an hour, don't hesitate to <%= mail_to 'ben.orenstein@gmail.com', 'email me' %>.</p>

<%= render 'kissmetrics_purchase_tracking' %>
