<% provide(:title, 'Home') %>
<div class="container">
	<header class="hero-unit">
		<h1>Digital Download Engine</h1>
		<p class="masthead">a self hosted <span class="grey">(heroku)</span> digital download website framework</p>
	</header>


<div class="row">
	<div class="span12">
	<div class="alert alert-info blue-banner">
		
		<h1>The <span class="black">Digital Download Engine</span> Stack</h1>
		
	</div>
	</div>
</div>


<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span4">
				<h2><span class="nav nav-pills">one</span> Heroku App Hosting</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<h2><span class="label label-info">three</span> Hacker Engine</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			</div>
			<div class="span4">
				<h2><span class="label label-info">two</span> Ruby on Rails</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<h2><span class="label label-info">four</span> Twitter Bootstrap</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="alert alert-info">
			<h2><span class='grey'>Target</span> Audience</h2>

			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		</div>
	</div>
</div>


<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span4">
				<h2><span class="label label-info">five</span> Stripe Payments</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			</div>
			<div class="span4">
				<h2><span class="label label-info">six</span> Fetchapp Delivery</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			</div>
		</div>
	</div>

	<div class="span4">
		<h2><span class="label label-info">seven</span> Kissemetrics Analytics</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	</div>
</div>


<br />

<div class="well">
	<div class="row">
		<div class="span8 form-horizontal">
			<h1>Getting started now. It's <span class='grey'>easy peasy</span> - </h1>
		</div>
			<%= link_to 'Purchase Now', new_order_path, class: 'span3 btn btn-primary btn-large call-to-action' %>
	</div>
</div>

<%= render 'shared/footer' %>



</div> <!-- /container -->

